.page-body
{
	font-family: 'Poppins', sans-serif;
}
.page-header
{
	position: relative;
	height: 40px;
}
#logo
{
	float: left;
}

.navbar a{
	position: relative;
	top: 20px;
	left: 700px;
	padding-left: 50px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: #0a0a0a;
}

.bg-image
{
	position: relative;
	background-image: url("background.png");
	height: 450px;
	min-width: 100%;
	background-repeat: no-repeat;
	
}	

.text
{
	color: white;
	text-align: center;
	padding-top: 150px;
	font-size: 20px;
	font-weight: 200;
}

.click
{
	padding-left: 600px;
	text-decoration: none;
	color: white;
}

.title
{
	text-align: center;
	color: #139139;
}

#about{
	position: relative;
}

#about p
{
	text-align: center;
	color: grey;
}

.about-cards
{
	width: 44%;
	padding-left: 50px;
	overflow:hidden;
	float: left;
	text-align: left;
	padding-top: 20px;
}

#award 
{
	position: relative;

}
.award-title
{
	color: #139139;
	text-align: center;
	position: relative;
	top: 30px; 
}

.flex-container
{
	position: relative;
	top: 40px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 8px;
	overflow: hidden;

	
}

.item img{
	width: 300px;
	padding-right: 10px;
}

.item h3{
	text-align: center;
}

#contact{
	position: relative;
}

.contact-title{
	position: relative;
	top: 50px;
	text-align: center;
	color: #139139;
}

.contacts{
	position: relative;
	top: 10px;
	width: 44%;
	padding-left: 50px;
	overflow:hidden;
	float: left;
	text-align: left;
	padding-top: 20px;
}

footer{
	background-color: #139139;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	color: white;
}

footer p{
	position: relative;
	padding-left: 30px;
}
